<html>
<head><title>{{ item.key }}</title></head>
<body>
    <h1>Olá bem-vindo ao vhost {{ item.key }}</h1>
    <p>Você está na máquina {{ ansible_hostname }}</p>
    <p>Você está acessando a porta {{ item.value.listen }}</p>
    <p>Você está no {{ ambiente }}</p>
    <p>{{ nginx_version.stdout }}</p>
</body>
</html>
