user  {{ nginx_user }};
worker_processes  {{ nginx_worker_processes }};

error_log  {{ nginx_log_error_file }} {{ nginx_error_log_level }};
pid        {{ nginx_pid_file }};


events {
    worker_connections  {{ nginx_worker_connections }};
}

http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  {{ nginx_access_log_file }} {{ nginx_access_log_format }};

    sendfile        {{ nginx_sendfile }};
    #tcp_nopush     on;

    keepalive_timeout  {{ nginx_keepalive_timeout }};

    #gzip  on;
    include /etc/nginx/conf.d/*.conf;
}