server {
    listen       {{ item.value.listen }};
    server_name  {{ item.value.server_name }};

    access_log  {{ nginx_log_dir }}/{{ item.value.log_file }} main;

    location / {
        root   {{ item.value.root }};
        index  index.html index.htm;
    }

    error_page   500 502 503 504  /50x.html;

    location = /50x.html {
        root   /usr/share/nginx/html;
    }
}