<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Pagina de exemplo vhost {{ item.key }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <h1>Pagina de exemplo vhost {{ item.key }}</h1>
    <p>Você esta na maquina {{ ansible_hostname }}</p>
    <p>Você esta acessando a porta {{ item.value.http_port }}</p>
</body>
</html>