<VirtualHost *:{{ item.value.http_port }}>
	ServerName {{ item.value.server_name }}
	{% if item.value.server_alias is defined %}
    ServerAlias {{ item.value.server_alias }}
	{% endif %}
	ServerAdmin webmaster@localhost
	DocumentRoot {{ item.value.document_root }}	

	ErrorLog {{ item.value.error_log }}
	CustomLog {{ item.value.access_log }} combined
</VirtualHost>